html {
    position: relative;

}
body {
    margin-bottom: 120px;
}



.jumbotron img{
    width: 200px;
    border: 5px solid #666
    
}

 hr {
    width: 250px ;
        border-top: 3px solid #999
}

 section {
    padding-top: 100px;
    min-height: 600px;
}

.ability{
    background-color: #eee
}

.contact{
    min-height: 800px;
    
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #333;
   
    
}

footer p{
    font-size: 0.9em;
    color: #aaa;
}